include home.pug
p= fichiers
div.rechercheShape
  a(href='/crouge' class='btnRecherche') Rouge
  a(href='/cvert' class='btnRecherche') Vert
  a(href='/cbleu' class='btnRecherche') Bleu
  a(href='/cjaune' class='btnRecherche') Jaune
