include home.pug
p= fichiers
div.rechercheShape
  a(href='/erouge' class='btnRecherche') Rouge
  a(href='/evert' class='btnRecherche') Vert
  a(href='/ebleu' class='btnRecherche') Bleu
  a(href='/ejaune' class='btnRecherche') Jaune
