include home.pug
p= fichiers
div.rechercheShape
  a(href='/lrouge' class='btnRecherche') Rouge
  a(href='/lvert' class='btnRecherche') Vert
  a(href='/lbleu' class='btnRecherche') Bleu
  a(href='/ljaune' class='btnRecherche') Jaune
