include home.pug
p= fichiers
div.rechercheShape
  a(href='/plrouge' class='btnRecherche') Rouge
  a(href='/plvert' class='btnRecherche') Vert
  a(href='/plbleu' class='btnRecherche') Bleu
  a(href='/pljaune' class='btnRecherche') Jaune
