include home.pug
p= fichiers
div.rechercheShape
  a(href='/pgrouge' class='btnRecherche') Rouge
  a(href='/pgvert' class='btnRecherche') Vert
  a(href='/pgbleu' class='btnRecherche') Bleu
  a(href='/pgjaune' class='btnRecherche') Jaune
