include home.pug
p= fichiers
div.rechercheShape
  a(href='/rrouge' class='btnRecherche') Rouge
  a(href='/rvert' class='btnRecherche') Vert
  a(href='/rbleu' class='btnRecherche') Bleu
  a(href='/rjaune' class='btnRecherche') Jaune
